
.podcast-page{
  .card {
    display: flex;
    /* background-color: white; */
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
    max-height: 450px;
    transition: transform 0.3s ease;
  }

  .image-container {
    flex: 1;
    width: 50%;
    max-width: 450px;
    min-width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .image-container::before {
    content: "";
    display: block;
    padding-top: 100%; /* Maintains square aspect ratio */
  }
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth transition */
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    padding: 0px 40px;
    min-width: 0; /* Allows content to shrink below its minimum content size */
  }
  .text-content {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    min-width: 0; /* or some value */
  }

  .content-head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    place-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .waves {
    display: flex;
    align-items: left;
    height: 50px; /* Set a height for the container */
    line-height: 50px;

  }

  .episode-number {
    color: #1e65df;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

  .episode-number video {
    height: 50px;
    width: 100%;
    align-content: left;
  }

  .tags-wrap {
    display: flex;
    align-items: right;
    border-bottom: 1px black;
  }

  .tag {
    display: inline-block;
    width: 70px;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    text-align: center;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    /* text-shadow: 0.4px 0.4px 0 rgba(0, 0, 0, 0.2), 
    -0.4px -0.4px 0 rgba(0, 0, 0, 0.2), 
    0.4px -0.4px 0 rgba(0, 0, 0, 0.2), 
    -0.4px 0.4px 0 rgba(0, 0, 0, 0.2); Outline effect */
  }

  .tag:hover {
    transform: translateX(-2px);
    transition: transform 0.3s ease;
  }

  .title {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 700;
    color: #1f1f1f;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0px 20px 0;
  }

  .description {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;;
    min-width: 0; /* or some value */
    flex-grow: 1;
    color: var(--text-color-secondary);
  }

  .card p {
    color: var(--text-color-secondary);
    font-size: 14px;
    margin-bottom: 0;
  }

  .content-foot {
    display: flex;
    justify-content: space-between;
  }

  .play-button {
    margin-left: -20px;
    display: inline-flex;
    align-items: center;
    /* background-color: white; */
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    align-self: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    transition: transform 0.6s ease;
  }

  .play-icon {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid black;
    border-bottom: 8px solid transparent;
    margin-right: 10px;
    transition: transform 0.6s ease;
  }

  .play-button:hover {
    cursor: pointer;
    background-color: #000;
    color: white;
    transform: translatex(20px);
    transition: transform 0.6s ease;

    .play-icon {
      border-top: 8px solid transparent;
      border-left: 12px solid white;
      border-bottom: 8px solid transparent;
      transition: transform 0.6s ease;

    }
  }

  .guest-wrap {
    display: flex;
    align-items: center;
  }

  .guest-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }

  .with-text-block {
    margin-right: 5px;
    color: #888;
  }

  @media (max-width: 1024px) {
    
    .card {
      flex-direction: column;
      width: 100%;
      max-width: none;
      max-height: none;
      height: auto;
      overflow: auto;
    }

    .content {
      padding-top: 10px;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    
    .image-container {
        max-width: 450px;
        max-height: 450px;
        object-fit: cover;
    }
    
    .text-content {
      min-width: 0; /* or some value */
    }

    .description {
      margin-bottom: 10px;
      min-height: 0; /* or some value */
    }

    .play-button {
      padding: 10px 10px;
    }
    .play-button:hover {
      transform: translateX(10px);
    }
  }
}