.tag {
  display: inline-block;
  width: 70px;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

  .tag-line {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.tag:hover {
  transform: translateX(-2px);
  transition: transform 0.3s ease;
}