.podcast-list{

  .media-flex {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: space-evenly;
  }

  .card {
    display: flex;
    /* background-color: white; */
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    width: 100%;
    margin-bottom: 40px;
    max-height: 350px;
    transition: transform 0.3s ease;
    flex-direction: column;
    max-width: 350px;
    max-height: 650px;
    height: 650px;
    margin-right: 20px;
  }

  .card:hover .image-container img { /* Target the image on card hover */
    transform: scale(1.1); /* Zoom in the image */
    transition: transform 0.3s ease; /* Smooth transition */
  }

  .image-container {
    flex: 1;
    width: 50%;
    max-width: 350px;
    min-width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    min-height: 350px;
  }
  .image-container::before {
    content: "";
    display: block;
    padding-top: 100%; /* Maintains square aspect ratio */
  }
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth transition */
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    padding: 15px 0px;
    min-width: 0; /* Allows content to shrink below its minimum content size */
  }
  .text-content {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    min-width: 0; /* or some value */
  }

  .content-head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .episode-number {
    color: #1e65df;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
  }

  .tags-wrap {
    display: flex;
    align-items: right;
    border-bottom: 1px black;
  }

  .card .tag {
    display: inline-block;
    margin: 0 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    text-align: center;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    /* text-shadow: 0.4px 0.4px 0 rgba(0, 0, 0, 0.2), 
    -0.4px -0.4px 0 rgba(0, 0, 0, 0.2), 
    0.4px -0.4px 0 rgba(0, 0, 0, 0.2), 
    -0.4px 0.4px 0 rgba(0, 0, 0, 0.2);  */
    width: 50px;
    padding: 5px 5px;
    border-radius: 15px;
    font-size: 0.7rem;
  }

  .tag:hover {
    transform: translateX(-2px);
    transition: transform 0.3s ease;
  }

  .title {
    display: -webkit-box;
    margin: 0 0 15px 0;
    font-size: 20px;
    word-wrap: break-word;
    -webkit-box-orient: vertical; /* Set the box orientation */
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    line-clamp: 3; /* Standard property for compatibility */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    line-height: 1.25;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .description {
    font-family: 'Source Sans Pro', sans-serif;;
    display: -webkit-box;
    -webkit-box-orient: vertical; /* Set the box orientation */
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    line-clamp: 3; /* Standard property for compatibility */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    min-width: 0; /* or some value */
    flex-grow: 1;
    color: var(--text-color-secondary);
    font-size: 14px;
    margin-bottom: 10px;
    min-height: 0; 
  }

  .card p {
    color: var(--text-color-secondary);
    font-size: 14px;
    margin-bottom: 0;
  }

  .content-foot {
    display: flex;
    justify-content: space-between;
  }

  .play-button {
    margin-left: -20px;
    display: inline-flex;
    align-items: center;
    /* background-color: white; */
    color: black;
    padding: 10px 10px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    align-self: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    transition: transform 0.6s ease;
  }

  .play-icon {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid black;
    border-bottom: 8px solid transparent;
    margin-right: 10px;
    transition: transform 0.6s ease;
  }

  .play-button:hover {
    cursor: pointer;
    background-color: #000;
    color: white;
    transform: translateX(10px);
    transition: transform 0.6s ease;

    .play-icon {
      border-top: 8px solid transparent;
      border-left: 12px solid white;
      border-bottom: 8px solid transparent;
      transition: transform 0.6s ease;

    }
  }

  .guest-wrap {
    display: flex;
    align-items: center;
  }

  .guest-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }

  .with-text-block {
    margin-right: 5px;
    color: #888;
  }

  .with-text-block,
  .guest-name { /* Assuming you add a class for the guest name */
    display: none; /* Hide these elements */
  }
}